In [1]:
import pandas as pd
import pickle

# AIMS 

En este archivo se realiza la prueba de lectura de modelo entrenado previamente

https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

In [2]:
df = {'mt2': [100, 100, 100, 100], 
      'estrato': [3, 4, 5, 6]}
df = pd.DataFrame(data=df)
df

   mt2  estrato
0  100        3
1  100        4
2  100        5
3  100        6

In [3]:
filename = 'model.sav'
model = pickle.load(open(filename, 'rb'))
model

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

LinearRegression()

In [4]:
df['pred'] = model.predict(df)
df

   mt2  estrato        pred
0  100        3  198.013449
1  100        4  238.640445
2  100        5  279.267441
3  100        6  319.894437